 header{
    padding: 0;
    .global-header{
        display: block;
        div{
            display: flex;
            height: 80px;
            align-items: center;
            .logo{
               display: inline-block;
               margin-left: 15px;
               margin-top: 20px;
               width: auto;
            }
         }
        input{
            display: none;
        }
        .fa-bars{
            position: absolute;
            color: rgb(127,127,127);
            right: 25px;
            top: 35px;
            border: none;
            font-size: 25px;
            transform:scaleX(1.5);
            transform: scaleY(0.7);
        }
        .volet{
            margin: 0;
            padding: 0;
            height: 0px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: both;
            position: relative;
            .index, .contact{
                border-top: 1px rgb(204,204,204) solid;
                border-bottom: 1px rgb(204,204,204) solid;
                min-height: 40px;
                padding: 0;
                width: 100%;
                top: 0;
                position: absolute;
                a{
                    align-items: center;
                    display: flex;
                    padding-left: 15px;
                    height: 35px;
                    width: 100%;
                }
            }
            .contact{
                top: 41px;
            } 
        }
    }
    
}
@media screen and (min-width: 770px){
    header{
        justify-content: center;
        display: flex;
        .global-header{
            justify-content: space-between;
            display: flex;
            width: 1000px;
            .fa-bars{
                display: none;
            }
            .volet{
                width: 200px;
                height: 80px;
                flex-direction: row;
                display: flex;
                transition-duration: 0s;
                .index, .contact{
                    width: 100px;
                    position: initial;
                    text-align: center;
                    border: none;
                    a{
                        padding-left: 0;
                        justify-content: center;
                        padding-top: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}