.decontact{
    height: 250px;
}

.formulaire{
    margin: 20px;
    button{
        margin-top: 20px;
        padding: 10px 20px;
        font-size:15px;
        color: white;
        background-color:rgb(243, 151, 108);
    }
    .message{
        max-width: 450px;
    }
}

.notre-adresse{
    margin-left: 10px;
    font-size: 11px;
    margin-bottom: 50px;
}